/ your instructions for players go here!  Below is an example...
%div{ :class => "modal fade", :id => "instructionModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "instructionModalLabel", "aria-hidden" => "true" }
  %div{ :class => "modal-dialog" }
    %div{ :class => "modal-content" }
      %div{ :class => "modal-header" }
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-label" => "Close" }<
          %span{ "aria-hidden" => "true" } &times;
        %h4{ :class => "modal-title" } Rules
      %div{ :class => "modal-body" }
        %div{ :class => "well well-sm" }
          %ul
            %li Your Instructions Here!
      %div{ :class => "modal-footer" }
        %button{ :type => "button", :class => "btn btn-default", "data-dismiss" => "modal" } Close
