/ yinstructiour instructions for players go here!  Below is an example...
%div{ :class => "modal fade", :id => "instructionModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "instructionModalLabel", "aria-hidden" => "true" }
  %div{ :class => "modal-dialog" }
    %div{ :class => "modal-content" }
      %div{ :class => "modal-header" }
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-label" => "Close" }<
          %span{ "aria-hidden" => "true" } &times;
        %h4{ :class => "modal-title" } Rules
      %div{ :class => "modal-body" }
        %div{ :class => "well well-sm" }
          %ul
            %li Bruteforce, password cracking, ARP-poisoning/MitM are not required and may get you dropped from the game.
            %li<
              DoS and/or attacks against game infrastructure (other than the game server) and other players
              %em will
              get you banned.
            %li<
              The only machine in scope is located at 10.10.10.11.  Everything on 10.10.10.11
              %em is
              in scope.
            %li If you haven't done so, please register a team/player name (case insensitive) below.  You will need this for flag submission.
            %li<
              Flags
              %em are
              case-sensitive and must be entered exactly as they are received.  All flags are of the form "DC503_FLAG{this_IS-aFl@g}".  To capture this flag, you would enter "this_IS-aFl@g" (without quotes).
            %li There is an IRC server running at 10.10.10.10: connect over SSL to port 6767 and join #inflightctf for news, hints, and casual conversation.  The certificate is self-signed (the same as the website), configure your IRC client accordingly.  The server requires authentication, you can join with username "guest" and password "guest" then send a message to sibios for a named account.
            %li Some flags indicate progression through the game and get increasingly more difficult to capture (also worth more points); there are also easter-egg flags scattered about worth fewer points.
            %li The game will last as long as travel conditions allow, there may be occasional outages due to power constraints or interference.
            %li Complaints, kudos, and questions should be directed at sibios
            %li Have fun!  Thanks for reading the instructions!  A flag has been hidden in the source of this page. :)
      %div{ :class => "modal-footer" }
        %button{ :type => "button", :class => "btn btn-default", "data-dismiss" => "modal" } Close
