%div{ :class => "modal fade", :id => "loginModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "loginModalLabel", "aria-hidden" => "true" }
  %div{ :class => "modal-dialog" }
    %div{ :class => "modal-content" }
      %div{ :class => "modal-header" }
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-label" => "Close" }<
          %span{ "aria-hidden" => "true" } &times;
        %h4{ :class => "modal-title" } Login
      %div{ :class => "modal-body" }
        - if flash[:error]
          %div{ :class => "alert alert-danger", :role => "alert" }= flash[:error]

        %form{ :method => "post", :action => "/login" }
          %div{ :class => "form-group" }
            %label{ :for => "inputTeamName" } Team Name
            %input{ :type => "text", :class => "form-control", :id => "inputTeamName", :placeholder => "Enter Team Name", :name => "team_name" }
          %div{ :class => "form-group" }
            %label{ :for => "inputPassword" } Password
            %input{ :type => "password", :class => "form-control", :id => "inputPassword", :placeholder => "Team Password", :name => "password" }
          %button{ :type => "submit", :class => "btn btn-default"} Login
      //%div{ :class => "modal-footer" }
