%div{ :class => "container-fluid" }
  %div{ :class => "row" }
    %div{ :class => "panel panel-default" }
      %div{ :class => "panel-heading" }
        %h3{ :class => "panel-title" } Recent Captures
      //%div{ :class => "well" }
      %div{ :class => "panel-body" }
        - if submissions.length == 0
          %p No cpatures yet.  Get to hacking!
        - else
          %ul
            - submissions.each do |capture|
              %li<
                & #{capture.team.name} solved "#{capture.flag}" for #{capture.points} points!
