%html
  %head
    %title Register
  %body
    %form{ :method => "post", :action => "/register" }
      %label{ :for => "name" } Team Name:
      %input{ :type => "text", :id => "name", :name => "team_name" }
      %input{ :type => "submit" }
