body{
  padding: 0;
  margin: 0;
  margin-top: -2.9em;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  background-image: url('/imgs/clouds.jpg');
  background-size: 100%;
}

img#badge{
  height: 2em;
  width: 2em;
}

/*img.flag{
  background-image: url('/imgs/flag.png');
  background-repeat: no-repeat;
}

img.nonflag{
  background-image: url('/imgs/moose.png');
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}*/

div#content{
  margin-left: 20em;
  margin-right: 20em;
  padding-left: 2em;
  padding-right: 2em;
  /*height: 120vh;*/
  min-height: 100vh;
  background-color: rgba(256,256,256,0.9);
}

div.page-header{
  padding-top: 2em;
  text-align: center;
}

div#buttons{
  text-align: center;
}

div#spacer{
  padding-right: 5em;
  padding-left: 5em;
}

.nav-tabs, .nav-pills {
    text-align: center;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

div#messaging{
  position: absolute;
  top: 2em;
  left: 25em;
  right: 25em;
}
